/* opgave 1
*/

.pop{
  background-color: red;
color:antiquewhite;
width: 100px;
height: 100px;
text-align: center;
border-radius: 50px;

}
/* animation-name: popUp;  eto popUp   imya @keyfreams poetomu ti polzueshsya nazvanie esli ti hochesh chto to izmenit */
.pop:hover{
  animation-name: popUp;
  animation-duration: 400ms;
  animation-fill-mode:both;
  animation-timing-function: ease;
}

.popTwo{
  background-color: rgb(241, 206, 7);
color:antiquewhite;
width: 100px;
height: 100px;
text-align: center;
border-radius: 50px;
}

.popTwo:hover{
  animation-name:popUpDown ;
  animation-duration: 400ms;
  animation-fill-mode:both;
  animation-timing-function: ease;
}




.popThree{
background-color: rgb(7, 90, 25);
color:antiquewhite;
width: 100px;
height: 100px;
text-align: center;
border-radius: 50px;
}

.popThree:hover{
  animation-name:popUpDown ;
  animation-iteration-count:infinite;
  animation-duration: 500ms;
   animation-timing-function: ease; 

}

@keyframes popUp{
from{
  transform: scale(100%);
}
to{
  transform: scale(110%);
}

}





